body {
  background-color: rgb(252, 246, 238);
}

button {
  background-color: rgb(167, 93, 93);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  
}

image {
  height: auto;
  width:fit-content
}